@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Times New Roman', Times, serif;
}
.darkmode{
    background-color: #2a2a2a;
    color: gray;

}
.lightMode {
    background-color:  white;
    color: black;
}